<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
	<title>{{meta_title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{asset 'css/all.css'}}">
	{{ghost_head}}
</head>
<body>
	<div id="background-doodle">
		<div class="row">
			<img src="{{asset 'svg/doodles/1.svg'}}" style="transform: translateX(-10vmax);">
			<img src="{{asset 'svg/doodles/2.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/3.svg'}}">
			<img src="{{asset 'svg/doodles/4.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/5.svg'}}">
			<img src="{{asset 'svg/doodles/6.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/1.svg'}}" style="transform: translateX(-10vmax);">
			<img src="{{asset 'svg/doodles/2.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/3.svg'}}">
			<img src="{{asset 'svg/doodles/4.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/5.svg'}}">
			<img src="{{asset 'svg/doodles/6.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/1.svg'}}" style="transform: translateX(-10vmax);">
			<img src="{{asset 'svg/doodles/2.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/3.svg'}}">
			<img src="{{asset 'svg/doodles/4.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/5.svg'}}">
			<img src="{{asset 'svg/doodles/6.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/1.svg'}}" style="transform: translateX(-10vmax);">
			<img src="{{asset 'svg/doodles/2.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/3.svg'}}">
			<img src="{{asset 'svg/doodles/4.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/5.svg'}}">
			<img src="{{asset 'svg/doodles/6.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/1.svg'}}" style="transform: translateX(-10vmax);">
			<img src="{{asset 'svg/doodles/2.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/3.svg'}}">
			<img src="{{asset 'svg/doodles/4.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/5.svg'}}">
			<img src="{{asset 'svg/doodles/6.svg'}}">
		</div>
	</div>
	<div id="background-shapes">
		<img src="{{asset 'svg/shapes/rectangle.svg'}}" style="left: calc(10vw + 12vw * 0.6); top: -50px;">
		<img src="{{asset 'svg/shapes/rectangle.svg'}}" style="right: calc(12vw * -0.4); top: 70vh;">
		<img src="{{asset 'svg/shapes/rectangle.svg'}}" style="right: calc(12vw * -0.55); top: 120vh;">
		<img src="{{asset 'svg/shapes/rectangle.svg'}}" style="left: calc(12vw * -0.55); top: 180vh;">

		<img src="{{asset 'svg/shapes/circle.svg'}}" style="left: 10vw; top: 70vh;">
		<img src="{{asset 'svg/shapes/circle.svg'}}" style="right: calc(12vw * -0.55); top: 270vh;">

		<img src="{{asset 'svg/shapes/cross.svg'}}" style="left: calc(12vw * -0.55); top: 20vh;">
		<img src="{{asset 'svg/shapes/cross.svg'}}" style="left: calc(12vw * -0.69); top: 120vh;">
		<img src="{{asset 'svg/shapes/cross.svg'}}" style="left: calc(12vw * -0.38); top: 270vh;">

		<img src="{{asset 'svg/shapes/cross.svg'}}" style="right: calc(12vw * -0.55); top: 30vh;">
		<img src="{{asset 'svg/shapes/cross.svg'}}" style="right: calc(12vw * -0.69); top: 170vh;">
		<img src="{{asset 'svg/shapes/cross.svg'}}" style="right: calc(12vw * -0.27); top: 210vh;">

		<img src="{{asset 'svg/shapes/triangle.svg'}}" style="left: calc(12vw * -0.27); top: 330vh;">
		<img src="{{asset 'svg/shapes/triangle.svg'}}" style="right: calc(12vw * -0.27 + 20vw); top: 70vh;">
		<img src="{{asset 'svg/shapes/triangle.svg'}}" style="right: 0; top: 310vh;">

		<img src="{{asset 'svg/shapes/rectangle.svg'}}" style="left: calc(10vw + 12vw * 0.6); top: -50px;">
		<img src="{{asset 'svg/shapes/rectangle.svg'}}" style="right: calc(12vw * -0.4); top: 70vh;">
		<img src="{{asset 'svg/shapes/rectangle.svg'}}" style="right: calc(12vw * -0.55); top: 120vh;">
		<img src="{{asset 'svg/shapes/rectangle.svg'}}" style="left: calc(12vw * -0.55); top: 180vh;">

		<img src="{{asset 'svg/shapes/circle.svg'}}" style="left: 10vw; top: 70vh;">
		<img src="{{asset 'svg/shapes/circle.svg'}}" style="right: calc(12vw * -0.55); top: 270vh;">

		<img src="{{asset 'svg/shapes/cross.svg'}}" style="left: calc(12vw * -0.55); top: 20vh;">
		<img src="{{asset 'svg/shapes/cross.svg'}}" style="left: calc(12vw * -0.69); top: 120vh;">
		<img src="{{asset 'svg/shapes/cross.svg'}}" style="left: calc(12vw * -0.38); top: 270vh;">

		<img src="{{asset 'svg/shapes/cross.svg'}}" style="right: calc(12vw * -0.55); top: 30vh;">
		<img src="{{asset 'svg/shapes/cross.svg'}}" style="right: calc(12vw * -0.69); top: 170vh;">
		<img src="{{asset 'svg/shapes/cross.svg'}}" style="right: calc(12vw * -0.27); top: 210vh;">

		<img src="{{asset 'svg/shapes/triangle.svg'}}" style="left: calc(12vw * -0.27); top: 330vh;">
		<img src="{{asset 'svg/shapes/triangle.svg'}}" style="right: calc(12vw * -0.27 + 20vw); top: 70vh;">
		<img src="{{asset 'svg/shapes/triangle.svg'}}" style="right: 0; top: 310vh;">
	</div>
	{{> header}}

	{{{body}}}

	{{> footer}}

	<script src="{{asset 'js/all.js'}}"></script>

	{{ghost_foot}}
</body>
</html>
