<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
	<title>{{meta_title}}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{asset 'css/all.css'}}">
	{{ghost_head}}
	<style>
	/* This font-face is here to make icons work if the Ghost instance is installed in a subdirectory */
	@font-face {
		font-family: 'icomoon';
		src: url("{{asset 'fonts/icomoon.eot'}}");
		src: url("{{asset 'fonts/icomoon.eot'}}") format('embedded-opentype'),
		url("{{asset 'fonts/icomoon.ttf'}}") format('truetype'),
		url("{{asset 'fonts/icomoon.woff'}}") format('woff'),
		url("{{asset 'fonts/icomoon.svg'}}") format('svg');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: Formata;
		src: url("{{asset 'fonts/formata.otf'}}");
	}
	</style>
</head>
<body>
	<div id="background-doodle">
		<div class="row">
			<img src="{{asset 'svg/doodles/1.svg'}}" style="transform: translateX(-10vmax);">
			<img src="{{asset 'svg/doodles/2.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/3.svg'}}">
			<img src="{{asset 'svg/doodles/4.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/5.svg'}}">
			<img src="{{asset 'svg/doodles/6.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/1.svg'}}" style="transform: translateX(-10vmax);">
			<img src="{{asset 'svg/doodles/2.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/3.svg'}}">
			<img src="{{asset 'svg/doodles/4.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/5.svg'}}">
			<img src="{{asset 'svg/doodles/6.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/1.svg'}}" style="transform: translateX(-10vmax);">
			<img src="{{asset 'svg/doodles/2.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/3.svg'}}">
			<img src="{{asset 'svg/doodles/4.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/5.svg'}}">
			<img src="{{asset 'svg/doodles/6.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/1.svg'}}" style="transform: translateX(-10vmax);">
			<img src="{{asset 'svg/doodles/2.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/3.svg'}}">
			<img src="{{asset 'svg/doodles/4.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/5.svg'}}">
			<img src="{{asset 'svg/doodles/6.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/1.svg'}}" style="transform: translateX(-10vmax);">
			<img src="{{asset 'svg/doodles/2.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/3.svg'}}">
			<img src="{{asset 'svg/doodles/4.svg'}}">
		</div>
		<div class="row">
			<img src="{{asset 'svg/doodles/5.svg'}}">
			<img src="{{asset 'svg/doodles/6.svg'}}">
		</div>
	</div>
	<div id="background-shapes">
		<img src="{{asset 'svg/shapes/rectangle.svg'}}" style="left: calc(10vw + 12vw * 0.6); top: -50px;">
		<img src="{{asset 'svg/shapes/rectangle.svg'}}" style="right: calc(12vw * -0.4); top: 70vh;">
		<img src="{{asset 'svg/shapes/rectangle.svg'}}" style="right: calc(12vw * -0.55); top: 120vh;">
		<img src="{{asset 'svg/shapes/rectangle.svg'}}" style="left: calc(12vw * -0.55); top: 180vh;">

		<img src="{{asset 'svg/shapes/circle.svg'}}" style="left: 10vw; top: 70vh; opacity: 0.3;">
		<img src="{{asset 'svg/shapes/circle.svg'}}" style="right: calc(12vw * -0.55); top: 270vh;">

		<img src="{{asset 'svg/shapes/cross.svg'}}" style="left: calc(12vw * -0.55); top: 20vh;">
		<img src="{{asset 'svg/shapes/cross.svg'}}" style="left: calc(12vw * -0.69); top: 120vh;">
		<img src="{{asset 'svg/shapes/cross.svg'}}" style="left: calc(12vw * -0.38); top: 270vh;">

		<img src="{{asset 'svg/shapes/cross.svg'}}" style="right: calc(12vw * -0.55); top: 30vh;">
		<img src="{{asset 'svg/shapes/cross.svg'}}" style="right: calc(12vw * -0.69); top: 170vh;">
		<img src="{{asset 'svg/shapes/cross.svg'}}" style="right: calc(12vw * -0.27); top: 210vh;">

		<img src="{{asset 'svg/shapes/triangle.svg'}}" style="left: calc(12vw * -0.27); top: 330vh;">
		<img src="{{asset 'svg/shapes/triangle.svg'}}" style="right: calc(12vw * -0.27 + 20vw); top: 70vh; opacity: 0.3;">
		<img src="{{asset 'svg/shapes/triangle.svg'}}" style="right: 0; top: 310vh;">
	</div>
	{{> header}}

	{{{body}}}

	{{> footer}}

	<script src="https://kit.fontawesome.com/46c1b442c4.js" crossorigin="anonymous"></script>
	<script src="{{asset 'js/all.js'}}"></script>

	{{ghost_foot}}
</body>
</html>
