{{!--
This template is used for the posts that are marked as pages.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
  <div class="main-wrap">
    {{!-- Special header.hbs partial to generate the <header> tag --}}
    {{!-- {{> header background=feature_image}} --}}
    {{!-- Inject styles of the hero image to make it responsive --}}
    {{!--{{> hero background=feature_image}} --}}
    <div class="m-hero__content" data-aos="fade-down">
    </div>
    </section>
    <main>
      <article>
        <div class="l-content">
          <div class="l-wrapper in-post" data-aos="fade-up" data-aos-delay="300">
            <div class="l-post-content ieee-officer-container">
              <!-- Executives -->
              <h2 id="executives" class="ieee-officer-divider">Executives</h2>
              <p>The Executive officers oversee club affairs, initiate and maintain relations with external and internal parties, manage finances, and ensure each committee meets their goals each semester smoothly.</p>
              <div class="ieee-officer-group">
                <div class="ieee-officer-card">
                  <img src="{{asset 'officers/Hope/elam_day_friedland.webp'}}" alt="Elam Day-Friedland" />
                  <h3>Elam Day-Friedland</h3>
                  <p>Chair</p>
                  <div class="ieee-officer-socials">
                  </div>
                </div>
                <div class="ieee-officer-card">
                  <img src="{{asset 'officers/Techops/Aditya_Tummala.webp'}}" alt="Aditya Tummala"/>
                  <h3>Aditya Tummala</h3>
                  <p>Vice Chair</p>
                  <div class="ieee-officer-socials">
                  </div>
                </div>
                <div class="ieee-officer-card">
                  <img src="{{asset 'officers/Micromouse/brayan_velasco.webp'}}" alt="Brayan Velasco"/>
                  <h3>Brayan Velasco</h3>
                  <p>Head of Communications</p>
                  <div class="ieee-officer-socials">
                  </div>
                </div>
                <div class="ieee-officer-card">
                  <img src="{{asset 'officers/Techops/Krishna_Rao.webp'}}" alt="Krishna Rao"/>
                  <h3>Krishna Rao</h3>
                  <p>Treasurer</p>
                  <div class="ieee-officer-socials">
                  </div>
                </div>
              </div>
              <!-- Activities -->
              <h2 id="activities" class="ieee-officer-divider">Activities</h2>
              <p>The Activities committee provides social support to the IEEE and EECS community by planning and hosting social events, ranging from escape rooms to virtual game nights.</p>
              <div class="ieee-officer-group">
                <div class="ieee-officer-card">
                  <img src="{{asset 'officers/Activities/hana_lee.webp'}}" alt="Hana Lee"/>
                  <h3>Hana Lee</h3>
                  <p>Director</p>
                </div>
              </div>
              <!-- HOPE -->
              <h2 id="hope" class="ieee-officer-divider">HOPE</h2>
              <p>The HOPE committee serves as the backbone for developing and facilitating our IEEE Hands On PCB Engineering Decal, a fun and interactive course to introduce electrical engineering fundamentals to students. The course introduces students to Printed Circuit Board (PCB) design, an essential component in electronics, through interactive labs and projects using the open-source KiCad software. </p>
              <div class="ieee-officer-group">
                <div class="ieee-officer-card">
                  <img src="{{asset 'officers/Micromouse/lucy_revina.webp'}}" alt="Lucy Revina"/>
                  <h3>Lucy Revina</h3>
                  <p>Director</p>
                  <div class="ieee-officer-socials">
                  </div>
                </div>
              </div>
              <!-- Indrel -->
              <h2 id="indrel" class="ieee-officer-divider">Industry Relations</h2>
              <p>The Industry Relations Committee is responsible for communicating and working with external organizations and companies. Officers contact and interact with company representatives, make unique connections within the tech industry, help host company info sessions, tech-talks, the biannual Startup Fair, and other partnerships with industry to benefit the IEEE and EECS student body.</p>
              <div class="ieee-officer-group">
                <div class="ieee-officer-card">
                  <img src="{{asset 'officers/Indrel/amy_mathews.webp'}}" alt="Amy Mathews"/>
                  <h3>Amy Mathews</h3>
                  <p>Director</p>
                  <div class="ieee-officer-socials">
                  </div>
                </div>
                <div class="ieee-officer-card">
                  <img src="{{asset 'officers/Indrel/pranay_rajpaul.webp'}}" alt="Pranay Rajpaul"/>
                  <h3>Pranay Rajpaul</h3>
                  <p>Director</p>
                  <div class="ieee-officer-socials">
                    <a target="_blank" class="icon-linkedin" href="https://www.linkedin.com/in/pranayrajpaul/"></a>
                  </div>
                </div>
              </div>
              <!-- Micromouse -->
              <h2 id="micromouse" class="ieee-officer-divider">Micromouse</h2>
              <p>The Micromouse committee runs the IEEE Micromouse program, which includes a DeCal and a competition team. The DeCal is a hands-on course aimed at undergraduates with an interest in robotics. In this class, teams of 2~3 students are formed to build and program autonomous, maze-solving cars that follow the standards set in the national IEEE’s Micromouse competition.</p>
              <div class="ieee-officer-group">
                <div class="ieee-officer-card">
                  <img src="{{asset 'officers/Micromouse/harris_thai.webp'}}" alt="Harris Thai"/>
                  <h3>Harris Thai</h3>
                  <p>Director</p>
                  <div class="ieee-officer-socials">
                  </div>
                </div>
              </div>
              <!-- Website -->
              <h2 id="website" class="ieee-officer-divider">Website</h2>
              <p>The Website committee maintains the main website of IEEE (what you're seeing now!) and related sub-projects within the student branch.</p>
              <div class="ieee-officer-group">
                <div class="ieee-officer-card">
                  <img src="{{asset 'officers/Website/bill_hu.jpg'}}" alt="profilepic" />
                  <h3>Bill Hu</h3>
                  <p>Director</p>
                  <div class="ieee-officer-socials">
                    <a target="_blank" class="icon-linkedin" href="https://www.linkedin.com/in/williamhu2002/"></a>
                    <a target="_blank" class="icon-github" href="https://github.com/hubi0111/"></a>
                  </div>
                </div>
                <div class="ieee-officer-card">
                  <img src="{{asset 'officers/Website/Kevin_Zhu.webp'}}" alt="Kevin Zhu" />
                  <h3>Kevin Zhu</h3>
                  <p>Director</p>
                </div>
              </div>
              <!-- Professional Development -->
              <h2 id="prodev" class="ieee-officer-divider">Professional Development</h2>
              <p>The Professional Development Committee works in a close-knit team to organize workshops, cooperate with other organizations, and coordinate with innovators from academia to bring professional awareness to the EECS community. It successfully hosts numerous internship/research workshops, mentorship events, undergrad-graduate student mixers, and more.</p>
              <div class="ieee-officer-group">
                <div class="ieee-officer-card">
                  <img src="{{asset 'officers/Prodev/Alan_Wang.webp'}}" alt="Alan Wang"/>
                  <h3>Alan Wang</h3>
                  <p>Director</p>
                  <div class="ieee-officer-socials">
                  </div>
                </div>
              </div>
              <!-- Technical Operations -->
              <h2 id="techops" class="ieee-officer-divider">Technical Operations</h2>
              <p>The Technical Operations Committee maintains IEEE’s technological infrastructure, which includes but is not limited to the website and mail server, office space, and internal organizational documentation. Starting in Fall 2020, the committee also heads the management of team projects with general members, often working together with the Website committee.</p>
              <div class="ieee-officer-group">
                <div class="ieee-officer-card">
                  <img src="{{asset 'officers/Techops/ryan_ma.jpg'}}" alt="Ryan Ma"/>
                  <h3>Ryan Ma</h3>
                  <p>Director</p>
                  <div class="ieee-officer-socials">
                  </div>
                </div>
              </div>
              <!-- Marketing -->
              <h2 id="marketing" class="ieee-officer-divider">Marketing</h2>
              <p>The Marketing committee manages the club’s social media, releases biweekly newsletters, develops custom stickers for upper div EE classes, runs the IEEE blog, and designs the club’s merch and promotional materials.</p>
              <div class="ieee-officer-group">
                <div class="ieee-officer-card">
                  <img src="{{asset 'officers/Marketing/Daniel_DeBoskey.webp'}}" alt="profilepic" />
                  <h3>Daniel DeBoskey</h3>
                  <p>Director</p>
                  <div class="ieee-officer-socials">
                    <a target="_blank" class="icon-linkedin" href="https://www.linkedin.com/in/daniel-deboskey-94882018b/"></a>
                  </div>
                </div>
                <div class="ieee-officer-card">
                  <img src="{{asset 'officers/Marketing/christopher_lowenthal.webp'}}" alt="Chris Lowenthal"/>
                  <h3>Chris Lowenthal</h3>
                  <p>Director</p>
                  <div class="ieee-officer-socials">
                  </div>
                </div>
              </div>
              <!-- Senior Advisors -->
              <h2 id="marketing" class="ieee-officer-divider">Senior Advisors</h2>
              <p>Advisors help out the leadership team by offering advice, suggestions, and help out with execution of different projects and initiatives. They also serve as the most senior members of the club.</p>
              <div class="ieee-officer-group">
                <div class="ieee-officer-card">
                  <img src="{{asset 'officers/Techops/manuuj-vora.jpg'}}" alt="profilepic" />
                  <h3>Maanuj Vora</h3>
                  <p>Senior Advisor</p>
                  <div class="ieee-officer-socials">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </main>
  </div>
{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/page.js"}}"></script>
{{/contentFor}}
